<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="youtube_dl_GUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <youtube_dl_GUI.My.MySettings>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Cookies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Exe" serializeAs="String">
                <value>youtube-dl.exe</value>
            </setting>
            <setting name="CookiesFile" serializeAs="String">
                <value />
            </setting>
        </youtube_dl_GUI.My.MySettings>
    </userSettings>
</configuration>